

#message {
    overflow: hidden;
    font-size: 24px;
}
#projectsView {
    display: none;
    padding-bottom: 20px;
}
#projectsList {
    display: none;
    padding-bottom: 20px;
}

#projectid {
    display: none;
}
#projecttitle {
    padding-bottom: 0px;
    font-size: 48px;
    font-weight: 700;
}
#projecturls {
    margin: 10px 0px;
}
#projectdes {
    margin: 10px 0xp;
    display: none;
}
#projectart {
    margin: 10px 0px;
}

.projectInfo {
    margin-bottom: 15px;
}
.projectInfo span {
    margin-right: 20px;
}
.pageSection {
    padding-top: 10px;
}

/*
 * Projects
 */
.good {
    background-color: aquamarine;
    
}
.bad {
    background-color:crimson;
    color: azure;
}