
/*
 * Custome Properties
 */
:root {
    --primaryColor: #5789e0; /* #F55E61 */
    --secondaryColor: #544a4b; /* #5E696C */
    
    --primaryBackground: #5789e0;
    --secondaryBackground: #e6e6e3;
}

/*
 * Elements
 */

body{
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	color: var(--primaryColor);
}
h1, h2, h3, h4 {
    color: var(--primaryColor);
}
h5, h6, p {
	color: var(--secondaryColor);
}
a {
	text-decoration: none;
	color: var(--primaryColor);
}
a.hover {
	text-decoration: none;
	color: var(--primaryColor);
}
a.visited {
	text-decoration: none;
	color: var(--primaryColor);
}
table {
	margin: 20px auto;
	display: table;
	border-collapse: collapse;
}
thead {
	background-color: var(--primaryColor);
	color: #fff;
	border: 1px solid black;
    border-color: var(--primaryColor);
}
tbody {
	margin: 0;
	padding: 0;
}
td {
	color: var(--secondColor);
	margin: 0;
	padding: 15px;
	border: 1px solid white;
    border-color: var(--secondaryColor);
}
tr:first-child {
	border-top: 0px;
}
th {
	border: 1px solid #fff;
	padding: 15px;
	border-left: 1px solid #fff;	
}

/*
 * IDs
 */
#resume image {
    height: 500px;
    width: 100%;
}

/*
 * Classes
 */

/* Total Menu Container */
.menuBanner {
	background-color: var(--primaryColor);
	width: 100%;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}
/* Parallax image */
.menuMainImage {
    background-image: url("images/menu.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Left and right section of menu */
.menuContainer {
	width: 100%;
	min-height: 55px;
	overflow: hidden;
	position: relative;
	display: block;
	margin: 0;
	font-family: 'Lato', sans-serif;
}
/* When the menu is not at the top of the page */
.menuMain-container-rel {
	background-color: var(--primaryColor);
}
/* When the menu is at the top of the page */
.menuMain-container-fix {
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 1;
}
/* Title */
.menuContainer-left {
	display: inline-block;
	float: left;
	font-size: 25px;
	margin-left: 1%
}
.menuContainer-left h1 {
	margin: 0;
	padding: 0 0;
	color: #fff;
}
/* Nav Menu */
.menuContainer-right {
	display: inline-block;
	float: right;
}
.menuMainContainer-right ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 20px;
}
.menuMainContainer-right ul li {
	float: left;
}
.menuMainContainer-right-selected a {
	background-color: #fff;
	color: var(--secondaryColor);
}
.menuMainContainer-right ul li a{
	display: block;
    text-align: center;
    padding: 18px 16px;
    color: #fff;
    font-family: 'Playfair Display', serif;
}
/* Body CSS */
.bodyContain {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	margin: 0;
	background-color: #fff;
}
.pageTile {
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	color: var(--primaryColor);
    width: 92%;
    padding: 25px 4%;
}
.pageSection {
	font-family: 'Lato', sans-serif;
	color: var(--secondaryColor);
    width: 90%;
    padding: 25px 5%;
}
.pageSection h3{
	font-size: 32px;
}
.pageSection p{
	margin: 7px 10px;
}
.pageSection img {
	height: 350px;
	display: block;
	margin: 0px auto;
}
.light {
    background-color: #fff;
}
.dark {
    background-color: var(--secondaryBackground);
}
.link-button-contain {
	text-align: center;
	margin: 30px 0px 14px 0px;
}
.link-button {
	color: var(--secondarColor);
	padding: 14px 16px;
	margin: 19px 5px;
	border: 1px solid currentColor;
    /*border-color: var(--secondaryColor); */
	-o-transition:color .2s ease-out, background .2s ease-in, border .2s ease-in;
	-ms-transition:color .2s ease-out, background .2s ease-in, border .2s ease-in;
	-moz-transition:color .2s ease-out, background .2s ease-in, border .2s ease-in;
	-webkit-transition:color .2s ease-out, background .2s ease-in, border .2s ease-in;
	transition:color .2s ease-out, background .2s ease-in, border .2s ease-in;
}
.link-button:hover {
	background-color: var(--primaryColor);
	color: white;
	padding: 14px 16px;
	margin: 5px;
	border: 1px solid var(--primaryColor);
}
.groupContain {
	margin: 0px;
	width: 100%;
	min-height: 50px;
	overflow: hidden;
}
.groupContain img {
	height: 300px;
	display: block;
}
.groupContain-left {
	display: inline-block;
	overflow: hidden;
	width: 45%;
	float: left;
	min-height: 50px;
	margin: 2.5% 1.25%;
}
.groupContain-right {
	display: inline-block;
	overflow: hidden;
	width: 45%;
	float: right;
	min-height: 50px;
	margin: 2.5% 1.25%;
}
.center-div {
	text-align: center;
	display: block;
	margin-left: 50%;
	margin-right: 50%;
}

/*
 * Footer
 */
.footer {
    padding: 25px 5%;
    width: 90%;
    min-height: 50px;
	background-color: var(--primaryBackground);
    background-image: url("images/menu.jpg");
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer p {
    font-size: 20px;
    color: var(--secondaryColor);
    display: inline;
    margin: 5px 10px;
}
.footer a {
    color: #fff;
}

.projectSummery {
	width: 100%;
	text-align: center;
}
.projectSummer-entry {
	overflow: hidden;
	min-height: 10px;
	width: 400px;
	display: inline-block;
	margin: 10px 10px;
	padding-bottom: 10px;
	border-bottom: 8px solid var(--primaryColor);
}
.projectSummery-entry p {
	margin-top: 2px;
}
.libraries-entry-numOf {
	margin: 0 8px;
}